APP_NAME=Mianshibao
ENVIRONMENT=dev
DATABASE_URL=postgresql+psycopg_async://postgres:postgres@postgres:5432/mianshibao
DASHSCOPE_API_KEY=sk-e6c4d386d52d4cf89280b0dc7b812f9a
REDIS_URL=redis://redis:6379/0
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_RESUME_BUCKET=resume-files
JWT_SECRET_KEY=_wfnEPe1s1J_oHBXQv9x-xUcgW70MfGzUU4Ire1h71lkFDr4
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080
